@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* GENERAL */

body {
  font-family: "Outfit", sans-serif;
}

.shadow-btm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* CAROUSEL HOME CATEGORIES */

.react-multiple-carousel__arrow {
  min-height: 0px !important;
  min-width: 0px !important;
  background: none !important;
}

.react-multiple-carousel__arrow::before {
  color: black !important;
}

.react-multi-carousel-item {
}
